body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

nav {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    color: #ecf0f1;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

header h1 {
    margin: 0;
}

section {
    margin: 20px;
}

section#about {
    text-align: center;
}

section#about img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin-top: 10px;
}

section#skills ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

section#skills li {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

section#projects {
    text-align: center;
}

.project {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

section#resume a {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

section#contact {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #34495e;
    color: #fff;
    padding: 20px 0;
  }